

                     <h5>Bienvenido {{user}}</h5>
                
                
<a href="/login/logout">
<input type="button" class="btn btn-danger" value="Logout"></a>
  <div class="col-12 text-center">
     <i class="bi bi-menu-button-wide text-white fs-2"> Menu</i> 
  </div>
          <div class="container col-12 col-lg-4 mt-5">
                <li class="nav-link">
                    <a href="/crud" class="nav-link btn btn-light text-dark bi bi-device-hdd fs-5" > Editar lista de precios</button></a> 
                </li>
                <li class="nav-link">
                    <a href="/login/logout" class="nav-link btn btn-danger text-white" >Logout  <i class="bi bi-door-closed fs-5 text-white"></i></button></a> 
                </li>
        </div>
       
  </body>
